body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.header-name {
    color: orange;
}

.header-section {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.header-wel {
    font-size: 60px;
}

.header-title {
    font-size: 40px;
    font-weight: 700;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.hire-me-btn {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}


.header-img {
    width: 80%;
}

.dream-section {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right
}

.dream-title {
    font-size: 60px;
}

.dream-img {
    width: 80%;
}

.dream-btn {
    text-decoration: none;
    font-size: 20PX;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 40px;
    border-radius: 5px;
}